<div class="calendar-header">
  <div class="header-top">
    <button mat-button class="button">Добавить</button>
    <button mat-button class="button">Обновить</button>
  </div>
  <div class="header-bottom">
    <button mat-icon-button class="search-icon">
      <mat-icon>search</mat-icon>
    </button>
    <div class="search-container">
      <input type="text" class="search-input" placeholder="Событие, дата или участник">
    </div>
  </div>
</div>
<div class="block-2">
    <div class="calendar-controls">
      <button  class="button_month"(click)="decreaseMonth()"><mat-icon>arrow_left</mat-icon></button>
      <div *ngFor="let day of calendar.slice(0,1)">
        <h2 class="month">{{displayMonth}} {{ day.date | date: 'y'}}</h2>
      </div>
      <button  class="button_month" (click)="increaseMonth()"><mat-icon>arrow_right</mat-icon></button>
      <button  class="button_month_today"(click)="setCurrentMonth()">Сегодня</button>
    </div>
    <div class="calendar">
      <div class="header-row">
        <div class="day" *ngFor="let day of calendar.slice(0, 7)">
          <span class="day-of-week">{{ day.date | date: 'EEEE' }}</span>, {{ day.date | date: 'd' }}
        </div>
      </div>
      <div class="week" *ngFor="let week of calendar.slice(7) | chunk: 7">
        <div class="day" *ngFor="let day of week" [class.today]="day.isToday" [class.has-title-or-event]="day.title || day.event">
          <div class="date">{{ day.date | date: 'd' }}</div>
          <div class="title" *ngIf="day.title">{{ day.title }}</div>
          <div class="event" *ngIf="day.event">{{ day.event }}</div>
        </div>
      </div>
    </div>
</div>
